<h1 class="container-header">
  <span>{{ title }}</span>
</h1>

<div class="container-header-date">
  <h1>{{ dateToday | date }}</h1>
</div>

<p *ngIf="toDos.length == 0">
  You don't have any chores <i>yet</i>
</p>

<form class="container-header-form" [formGroup]="form">
  <fieldset>
    <label for="">Chore: </label>
    <input
    type="text"
    placeholder="Type your chore"
    maxlength="100"
    formControlName="chore"
    name=""
    id="">
    <small *ngIf="form.controls.chore.invalid && !form.controls.chore.pristine">
      This chore should have more than 5 characteres
    </small>
    <button [disabled]="form.invalid" (click)="addListItem()">Add Chore</button>
  </fieldset>
</form>

<ul class="container-chore-list">
  <li *ngFor="let toDoItems of toDos">
    <span>{{ toDoItems.id }}. {{ toDoItems.chore }}</span>

    <span class="buttons">
      <button class="delete" (click)="removeListItem(toDoItems)">Delete</button>

      <button class="isUndone" *ngIf="!toDoItems.isDone" (click)="closeListItem(toDoItems)">Undone</button>
      <button class="isDone" *ngIf="toDoItems.isDone" (click)="openListItem(toDoItems)">Done</button>
    </span>
  </li>
</ul>

<form class="container-header-form" *ngIf="toDos.length >= 6" [formGroup]="form">
  <fieldset>
    <label for="">Chore: </label>
    <input type="text" placeholder="Type your chore" maxlength="100" formControlName="chore" name="" id="">
    <small *ngIf="form.controls.chore.invalid && !form.controls.chore.pristine">
      This chore should have more than 5 characteres
    </small>
    <button [disabled]="form.invalid" (click)="addListItem()">Add Chore</button>
  </fieldset>
</form>

<div class="container-footer-button" *ngIf="toDos.length !== 0">
  <button (click)="deleteAllListItems()">Delete All Chores</button>
</div>